[submodule "themes/risotto"]
	path = themes/risotto
	url = https://github.com/joeroe/risotto.git
[submodule "themes/hugo-blog-awesome"]
	path = themes/hugo-blog-awesome
	url = https://github.com/hugo-sid/hugo-blog-awesome.git
